.gist .gist-file{border-color: #fff;}
.gist .blob-code-inner{color: #f8f8f2;}
.gist .blob-num{
  color: #999;
  border: solid #999;
  border-width: 0 1px 0 0;
}
.gist .blob-wrapper{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.gist .blob-num:hover{color: #f8f8f2;}
.gist .highlight{background: #272822;}
.gist .gist-meta{background: #272822;}
.gist .gist-data{border-bottom: 1px solid #999;}
.gist .blob-num{border-color: #999;}
.gist .pl-k{color: #f92672;}
.gist .pl-e{color: #f8f8f2;}
.gist .pl-pds, .gist .pl-s .pl-pse .pl-s1, .gist .pl-sr, .gist .pl-sr .pl-cce, .gist .pl-sr .pl-sre, .gist .pl-sr .pl-sra{color: #E6DB74;}
.gist .pl-s .pl-s1{color: #f8f8f2;}
.gist .pl-smi{color: #f8f8f2;}
.gist .pl-s{color: #e6db74;}
.gist .pl-en{color: #A6E22E;}
.gist .gist-meta, .gist .gist-meta a{color: #999;}
