.gist
{
  color: #000;
}
.gist .render-container .render-viewer-error,
.gist .render-container .render-viewer-fatal,
.gist .render-container .octospinner
{
  display: none;
}
.gist .gist-render iframe
{
  width: 100%;
}
.gist pre
{
  font: inherit;
  line-height: inherit;
  white-space: pre;
}
.gist .gist-file
{
  border: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  margin-bottom: 1em;
}
.gist .gist-file.gist-render
{
  border: none;
}
.gist .gist-file .gist-meta
{
  background-color: #272822;
  color: #999;
  font: 12px "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  overflow: hidden;
  padding: 10px;
}
.gist .gist-file .gist-meta a
{
  color: #888;
  font-weight: bold;
  text-decoration: none;
}
.gist .gist-file .gist-data
{
  background-color: #272822;
  border-bottom: 1px solid #aaa;
  font-size: 100%;
  overflow: auto;
  word-wrap: normal;
}
.gist .gist-file.scroll .gist-data
{
  bottom: 30px;
  left: 0px;
  overflow: scroll;
  position: absolute;
  right: 0px;
  top: 0px;
}
.gist .gist-file.scroll .gist-meta
{
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
}
.gist .gist-file .gist-data .line-data
{
  padding: .5em !important;
}
.gist .gist-file .gist-data .line-pre
{
  background: transparent !important;
  border: none !important;
  color: #f8f8f2;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  margin: 0 !important;
  padding: 0 !important;
}
.gist .gist-file .gist-data .gist-highlight
{
  background: transparent !important;
}
.gist .gist-file .gist-data .line-numbers
{
  color: #aaa;
  padding: .5em;
  text-align: right;
}
.gist .gist-file .gist-data .line-numbers .line-number
{
  font-size: 12px;
  clear: right;
  display: block;
}
.gist-syntax
{
  background: #ffffff;
}
.gist-syntax .c
{
  color: #999988;
  font-style: italic;
}
.gist-syntax .err
{
  background-color: #e3d2d2;
  color: #a61717;
}
.gist-syntax .k
{
  color: #f8f8f2;
}
.gist-syntax .o
{
  color: #f8f8f2;
  font-weight: bold;
}
.gist-syntax .cm
{
  color: #999988;
  font-style: italic;
}
.gist-syntax .cp
{
  color: #f8f8f2;
  font-weight: bold;
}
.gist-syntax .c1
{
  color: #999988;
  font-style: italic;
}
.gist-syntax .cs
{
  color: #999999;
  font-style: italic;
  font-weight: bold;
}
.gist-syntax .gd
{
  background-color: #fdd;
  color: #000000;
}
.gist-syntax .gd .x
{
  background-color: #faa;
  color: #000000;
}
.gist-syntax .ge
{
  color: #000000;
  font-style: italic;
}
.gist-syntax .gr
{
  color: #a00;
}
.gist-syntax .gh
{
  color: #999;
}
.gist-syntax .gi
{
  background-color: #dfd;
  color: #000000;
}
.gist-syntax .gi .x
{
  background-color: #afa;
  color: #000000;
}
.gist-syntax .go
{
  color: #888;
}
.gist-syntax .gp
{
  color: #555;
}
.gist-syntax .gs
{
  font-weight: bold;
}
.gist-syntax .gu
{
  color: #aaa;
}
.gist-syntax .gt
{
  color: #a00;
}
.gist-syntax .kc
{
  color: #f92672;
}
.gist-syntax .kd
{
  color: #a6e22e;
}
.gist-syntax .kp
{
  color: #000000;
  font-weight: bold;
}
.gist-syntax .kr
{
  color: #000000;
  font-weight: bold;
}
.gist-syntax .kt
{
  color: #a6e22e;
}
.gist-syntax .m
{
  color: #ae81ff;
}
.gist-syntax .s
{
  color: #e6db74;
}
.gist-syntax .na
{
  color: #a6e22e;
}
.gist-syntax .nb
{
  color: #f8f8f2;
}
.gist-syntax .nc
{
  color: #a6e22e;
}
.gist-syntax .no
{
  color: teal;
}
.gist-syntax .ni
{
  color: purple;
}
.gist-syntax .ne
{
  color: #990000;
  font-weight: bold;
}
.gist-syntax .nf
{
  color: #a6e22e;
}
.gist-syntax .nn
{
  color: #555;
}
.gist-syntax .nt
{
  color: #f92672;
}
.gist-syntax .nv
{
  color: teal;
}
.gist-syntax .ow
{
  color: #000000;
  font-weight: bold;
}
.gist-syntax .w
{
  color: #bbb;
}
.gist-syntax .mf
{
  color: #099;
}
.gist-syntax .mh
{
  color: #099;
}
.gist-syntax .mi
{
  color: #099;
}
.gist-syntax .mo
{
  color: #099;
}
.gist-syntax .sb
{
  color: #d14;
}
.gist-syntax .sc
{
  color: #d14;
}
.gist-syntax .sd
{
  color: #d14;
}
.gist-syntax .s2
{
  color: #e6db74;
}
.gist-syntax .se
{
  color: #d14;
}
.gist-syntax .sh
{
  color: #d14;
}
.gist-syntax .si
{
  color: #d14;
}
.gist-syntax .sx
{
  color: #d14;
}
.gist-syntax .sr
{
  color: #ae81ff;
}
.gist-syntax .s1
{
  color: #e6db74;
}
.gist-syntax .ss
{
  color: #990073;
}
.gist-syntax .bp
{
  color: #999;
}
.gist-syntax .vc
{
  color: teal;
}
.gist-syntax .vg
{
  color: teal;
}
.gist-syntax .vi
{
  color: teal;
}
.gist-syntax .il
{
  color: #099;
}
@media only screen and (max-width: 860px)
{
  .gist
  {
    font-size: 10px;
  }
  .gist .gist-file .gist-meta
  {
    font: 10px "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  }
  .gist .gist-file .gist-data
  {
    font-size: 10px;
  }
  .gist .gist-file .gist-data .line-pre
  {
    font: 10px "Liberation Mono", Courier, monospace;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }
  .gist .gist-file .gist-data .line-numbers .line-number
  {
    font-family: Consolas, "Liberation Mono", Courier, monospace;    
    font-size: 10px;
  }
  .gist pre
  {
    font-size: 10px;
  }
}